Source: pycharm-community
Section: devel
Priority: optional
Maintainer: Partizand <partizand@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3

Package: pycharm-community
Architecture: all
Depends: ${misc:Depends}
Description: PyCharm community version from tar
 PyCharm community deb packging from tar https://www.jetbrains.com/pycharm/
